<!DOCTYPE html>
<html>
  <head>
    <title>Agende seu Salão</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le styles -->
 <link href="css/main.css" rel="stylesheet">
</head>

<body>
<body>
    <div id="background">
    </div>
    <h1> Cadastro de Salão</h1>

    <form action="/cadastro" method="POST">
      <input type="text" name="salon[name]" placeholder="Nome"> <br/>
      <input type="email" name="salon[email]" placeholder="Email"> <br/>
      <input type="text" name="salon[image]" placeholder="Imagem"> <br/>
      <input type="text" name="salon[location][cep]" placeholder="CEP"> <br/>
      <input type="text" name="salon[location][country]" placeholder="País"> <br/>
      <input type="text" name="salon[location][uf]" placeholder="UF"> <br/>
      <input type="text" name="salon[location][city]" placeholder="Cidade"> <br/>
      <input type="text" name="salon[location][street]" placeholder="Rua"> <br/>
      <input type="text" name="salon[location][number]" placeholder="Número"> <br/>
      <input type="submit" value="Salvar"> <br/>
    </form>


  <!-- Scripts -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/socket.io.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>


<script type="text/javascript"> 
 var socket = io.connect('/');
$('#testButton').click(function(){
	var message = {body: $('#testInput').val()} 
	socket.emit('message', {body: $('#testInput').val()});
});

socket.on('message', function(message){
	message.body = message.body;
	$('#testResponse').append(message.body).append("<br>");
});

</script>
</body>
</html>