<!DOCTYPE html>
<html>
  <head>
    <title>Agende seu Salão</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le styles -->
 <link href="css/main.css" rel="stylesheet">
</head>

<body>
<body>
    <div id="background">
    </div>
    <h1> Salão de Beleza </h1>


  <!-- Scripts -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/socket.io.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>


<script type="text/javascript"> 

</script>
</body>
</html>